<h1>Experience</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 ">
    <%= form_for(@volunteer) do |f| %>
			<%= render 'shared/error_messages' %>
			
			<%= f.label :experience, "Please list any previous Volunteer experience, particularly in working with children and families:" %>
      <%= f.text_area :experience, class: 'form-control', rows: 10,placeholder: "Length of time | Organization | Responsibilities" %>
      
      <p>Do you have any experience with:</p>
      <%= f.label :child_abuse do %>
      	<%= f.check_box :child_abuse, class: "checkbox-auto" %>
      	<span>Child abuse?</span>
      <% end %>
      <%= f.label :child_abuse_spec, "If yes, please explain: " %>
      <%= f.text_area :child_abuse_spec, class: 'form-control', rows: 5 %>
      
      <%= f.label :foster_care do %>
      	<%= f.check_box :foster_care, class: "checkbox-auto" %>
      	<span>Foster care?</span>
      <% end %>
      <%= f.label :foster_care_spec, "If yes, please explain: " %>
      <%= f.text_area :foster_care_spec, class: 'form-control', rows: 5 %>      
           
      <%= f.label :criminal do %>
      	<%= f.check_box :criminal, class: "checkbox-auto" %>
      	<span>Criminal, Juvenile or Family Court System? </span>
      <% end %>
      <%= f.label :crinimal_spec, "If yes, please explain: " %>
      <%= f.text_area :crinimal_spec, class: 'form-control', rows: 5 %>
      
      <%= f.label :other_service do %>
      	<%= f.check_box :other_service, class: "checkbox-auto" %>
      	<span>Other Child Service Agencies? </span>
      <% end %>
      <%= f.label :other_service_spec, "If yes, please explain: " %>
      <%= f.text_area :other_service_spec, class: 'form-control', rows: 5 %>
			
			<%= hidden_field_tag :volunteer_id, @volunteer.id %>

      <%= f.button  :Previous, name: "step",value: "1", class: "btn btn-warning col-md-2 col-md-offset-3"%>      
      <div></div>
      <%= f.button :Next, name: "step",value: "3", class: "btn btn-primary col-md-2 col-md-offset-2" %>
		<% end %>
  </div>
</div>
