<div class="col-md-4 " >
		<h1>
       <%= gravatar_for @applicant %>
       <div><%= @applicant.name.capitalize %></div>
       <div id="show_email"><%= @applicant.email %><div>
     </h1>
</div>

<div class="col-md-1"></div>  


<div class="col-md-7">
	<% if @applicant.admin? %>
		<h1>I'm an administrator, I can 
			<%= link_to "view all applicants", applicants_path %>.
		</h1>
	<% else %>
		<div class="jumbotron">

		<h1 style="font-size: 3.5em;">My applications</h1>
		<% if @applicant.internships.first.nil? && @applicant.volunteers.first.nil? %>
			<p id="none" class="center">None</p>
		<% end %>
		
		<ul class="internships"> 
			<%= render @internships %>    
		</ul>
				
		<ul class="volunteers"> 
			<%= render @volunteers %>    
		</ul>
		
		<% unless current_user.admin? %>
		<div class="center"><%= link_to "New Counseling Intern Application", new_applicant_internship_path(@applicant), class: "btn btn-lg btn-primary", id: "add-top" %></div>
		<div class="center"><%= link_to "New Volunteer Application", new_applicant_volunteer_path(@applicant), class: "btn btn-lg btn-info", id: "add-top" %></div>
		<div class="center"><%= link_to "New Program Intern Application", new_applicant_internship_path(@applicant), class: "btn btn-lg btn-success", id: "add-top" %></div>
		<% end %>
		</div>
	<% end %>
</div>  
