<h1>Resources</h1>

<div class="col-md-6 col-md-offset-3">	

	<p style="font-size: 1.7em;" class="center">For counselling intern application</p>
	<p>Intern Agreement 
		<%= link_to "Download", "/download/intern_agreement.doc", class: 'btn pull-right' %>
	</p>
	
	<p style="font-size: 1.7em;" class="center">For Volunteer/Program intern application</p>
	<p>Pledge of Confidentiality
		<%= link_to "Download", "/download/_Volunteer_Pledge_of_Confidentiality_2010.pdf", class: 'btn pull-right' %>
	</p>
	<p>Non-disclosure Form
		<%= link_to "Download", "/download/_Volunteer_Non_Disclosure_Form_2010.pdf", class: 'btn pull-right' %>
	</p>
	<p>Reference Form
		<%= link_to "Download", "/download/Reference_Form.pdf", class: 'btn pull-right' %>
	</p>
	
	<p style="font-size: 1.7em;" class="center">Miscellaneous</p>
	<p>Volunteer Application Form 
		<%= link_to "Download", "/download/_Volunteer_Application_2013.pdf", class: 'btn pull-right' %>
	</p>
	<p>SHACA Intern Application Form
		<%= link_to "Download", "/download/SHCAC_Intern_Application_Forms.docx", class: 'btn pull-right' %>
	</p>
	<p>Counseling Supervisor Contract
		<%= link_to "Download", "/download/COUNSELING_SUPERVISION_CONTRACT.docx", class: 'btn pull-right' %>
	</p>
	<p>Counseling Practicum and Internship Information
		<%= link_to "Download", "/download/Counseling_Practicum_and_Internship_Information.docx", class: 'btn pull-right' %>
	</p>
	<p>Background Check
		<%= link_to "Download", "/download/Background_Check.pdf", class: 'btn pull-right' %>
	</p>
</div>
